<!--
          <form action="#">
              {% form.hidden_tag() }}
            <div>

              <input type="text" placeholder="Name">
            </div>
            <div>
              <input type="email" placeholder="Email">
            </div>
            <div>
              <input type="text" placeholder="Phone">
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message">
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
          -->