{% extends "layout.html" %}
{% block container %}
<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        <!--THIS IS THE PRODUCT CARD-->
          {% for shoe in shoes %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ shoe.filename }}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                    {{ shoe.title }}
                </h6>
                <h6>
                  Price
                  <span>
                    {{ shoe.price }}$
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>
            </a>
          </div>
        </div>
          {% endfor %}
      </div>
      <!--THIS IS THE LIST OF PRODUCTS BUTTON-->
      <div class="btn-box">
        <a href="">
          View All Products
        </a>
      </div>
    </div>
  </section>
{% endblock %}