<div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">Hire Me For Your Project</h5>
                            <p class="mb-3">Accusantium labore nostrum similique quisquam.</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <form action="https://github.com/techleonic">
                            <button class="btn btn-primary rounded" ><i class="ti-github"></i> With Icon</button>
                            </form>
                        </div>
                    </div>

